<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, culpa. Vero atque architecto cumque amet rerum numquam cupiditate minus ea corporis dolores perferendis, consectetur id neque accusantium distinctio ipsa reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem vitae accusantium, quas tempore culpa amet provident molestiae nemo tenetur quidem explicabo, omnis pariatur doloribus enim earum deserunt nulla nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis qui saepe dolore odit aliquam consequuntur id quo hic, ratione ipsa laboriosam eum assumenda quas, ad recusandae quia eligendi maiores in!</p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'> Ver o feed</button>
        </div>
    </div>

